{% extends 'base.html' %}

{% block title %}
Library App
{% endblock title %}

{% block style %}
#save{
    width: 150px;
    height: 30px;
    background-color:black;
    border-radius: 7px;
    color: white;
    font-size: 15px;
}
a{
    text-decoration:none;
    color: white;
    font-size: 15px 
}
{% endblock style %}

{% block content %}
<img src="/static/library.jpg" alt="No image">
<h1>Library Management System</h1>
        Already have an account?<br>
        <a href="{% url 'login' %}"><button id="save">Login</button></a><br><br>
        Doesn't have an account?<br>
        <a href="{% url 'signup' %}"><button id="save">Signup</button></a><br>
{% endblock content %}