{% extends 'base.html' %}

{% block title %}
Create
{% endblock title %}

{% block style %}
input{
    margin: 3px;
    border-radius: 5px;
    border: solid 1px;
}
form{
    margin-bottom: 10px;

}
p{
    font-size: 20px;
}
button{
    width: 150px;
    height: 30px;
    background-color:black;
    border-radius: 7px;
}
button a{
    text-decoration: none;
    color:white;
    font-size: 15px;
}
#save{
    width: 150px;
    height: 30px;
    background-color:black;
    border-radius: 7px;
    color: white;
    font-size: 15px;
}
{% endblock style %}

{% block content %}
<h1>Add New Book</h1>
        <form method="post">
        {% csrf_token %}
        <p>Name : <input type="text" name="title"><br>
        Author : <input type="text" name="author"><br>
        Price : <input type="number" name="price"><br></p>
        <button><a href="{% url 'books:index' %}">Back</a></button>
        <input id="save" type="submit" value="Save">
    </form>
{% endblock content %}