{% extends 'base.html' %}

{% block title %}
Details
{% endblock title %}

{% block style %}
button{
    width: 150px;
    height: 30px;
    background-color:black;
    border-radius: 7px;
}
a button{
    text-decoration: none;
    color:white;
    font-size: 15px;
}
p {
    font-size: 20px;
}
{% endblock style %}

{% block content %}
<h1>Details of the book {{books.title}}</h1>
    <p>
    Title : {{books.title}} <br>
    Author : {{books.author}} <br>
    Price : {{books.price}} <br>
    </p>
    <a href="{% url 'books:index' %}"><button>Back</button></a>
    <a href="{% url 'books:update' books.id %}"><button>Edit Details</button></a>
    <a href="{% url 'books:delete' books.id %}"><button>Delete</button></a>
{% endblock content %}