{% extends 'base.html' %}

{% block title %}
Books
{% endblock title %}

{% block style %}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

button {
    width: 150px;
    height: 30px;
    background-color: black;
    border-radius: 7px;
}
a button{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

li {
    font-size: 20px;
}
{% endblock style %}

{% block username %}
<p>#username : {{request.user}} </p>
{% endblock username %}

{% block content %}
<h1>Available Books</h1>
        <ul type="none">
            {% for book in Books %}
            <a href="{% url 'books:details' book.id %}">
                <div class="tooltip"><li>{{book}}</li><span class="tooltiptext">Click For More Info</span></div>
            </a>
            {% endfor %}
        </ul>
        <a href="{% url 'books:create' %}"><button>Add New Book</button></a>
        <a href="{% url 'logout' %}"><button>Logout</button></a>
{% endblock content %}